@use '@owlui/lib/src/theme/utils' as *;
@use '@owlui/lib/src/theme/global/bootstrap' as *;

.template-explorer {
  user-select: none;

  .owlui-modal-title {
    @extend .h5;
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
  }

  .owlui-modal-body {
    background: var(--owl-template-browser-bg);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 1.5rem;
  }

  &__item {
    position: relative;
    padding: 0;
    text-align: left;
    border: var(--owl-border-color) 1px solid;
    border-radius: $owl-ref-style-btn-border-radius;
    color: var(--owl-dropdown-color);
    background: var(--owl-template-browser-item-bg);
    box-shadow: var(--owl-box-shadow);

    label {
      display: block;
      padding: 0.5rem;
      font-size: $owl-ref-typeface-size-xs;
      line-height: 1.2;
      border-top: 1px solid var(--owl-border-color);
      pointer-events: none;
    }

    &__preview {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 16 /9;
      overflow: hidden;
      border-top-left-radius: $owl-ref-style-btn-border-radius;
      border-top-right-radius: $owl-ref-style-btn-border-radius;
      background: var(--bs-gray-300);

      span[class^="owlui-icons"] {
        opacity: 0.1;
        color: var(--bs-body-color);
        font-size: 10rem;
      }
    }

    &__type {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      border-top-left-radius: $owl-ref-style-btn-border-radius;
      border-bottom-right-radius: $owl-ref-style-btn-border-radius;
      background: var(--owl-dropdown-bg);

      span[class^="owlui-icons"] {
        margin: 0 0.25rem;
        line-height: 1.4;
        color: var(--owl-color-template);
      }
    }

    .template-explorer__item__active {
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
      color: var(--bs-success);
    }

    &.active,
    &:hover,
    &:focus {
      transform: translate(-2px,-2px);
      box-shadow: var(--owl-box-shadow-active);
      transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    }

    &.active {
      font-weight: 600;
      color: var(--owl-template-browser-active-color);
      border-width: 2px;
      border-color: var(--owl-template-browser-active-border-color);
      background: var(--owl-template-browser-active-bg);
    }
  }
}