.pane-details--tabs {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef var(--bs-border-color);
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fafbfc;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fafbfc;

  font-size: 12px;
  padding-left: var(--bs-nav-link-padding-y);
  padding-right: var(--bs-nav-link-padding-y);
  user-select: none;
  border-bottom: var(--bs-nav-tabs-border-width) solid
    var(--bs-nav-tabs-border-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .owlui-nav-item button {
    margin-left: var(--bs-nav-link-padding-y);
    margin-right: var(--bs-nav-link-padding-y);
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: var(--owl-btn-letterspacing);
    color: var(--owl-nav-tab-color);
    border-radius: 0;
    border: 0;
    transition-property: background;
    margin-bottom: calc(var(--bs-nav-tabs-border-width) * -1);
    background: none;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    &:hover,
    &focus {
      color: var(--owl-nav-tab-active-color);
    }

    &.active {
      color: var(--owl-nav-tab-active-color);
      font-weight: 600;
      border-bottom: 2px currentColor solid;
      background: transparent;
    }
  }
}
