@use '~@owlui/theme/src' as theme;

.top-container {
  display: flex;
  justify-content: space-between;
}

.navigation-bar {
  display: flex;
}

.navigation-item {
  display: inline-block;
  margin: 1rem;

  &-active {
    font-weight: bold;
  }
}
