// Scrowl Variables
@import '@owlui/lib/src/theme/global/_bootstrap.scss';
@import '@owlui/lib/src/theme/global/_typography.scss';

@mixin lightMode {
  .btn-ghost-primary {
    @include button-outline-variant(
      $gray-700,
      $color-hover: color-contrast(shade-color($primary, 20%)),
      $active-background: shade-color($primary, 20%),
      $active-border: shade-color($primary, 20%),
      $active-color: color-contrast(shade-color($primary, 20%))
    );

    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

    &:first-child {
      &:hover,
      &:focus {
        & + .dropdown-toggle-split {
          color: color-contrast(shade-color($primary, 20%));
          border-color: shade-color($primary, 20%);
          background: shade-color($primary, 20%);
        }
      }

      &:active {
        box-shadow: none;

        & + .dropdown-toggle-split {
          box-shadow: none;
        }
      }
    }

    &.dropdown-toggle-split:active {
      box-shadow: none;
    }
  }
}

@mixin darkMode {
  .btn-ghost-primary {
    @include button-outline-variant(
      $gray-300,
      $color-hover: color-contrast(shade-color($primary, 20%)),
      $active-background: shade-color($primary, 20%),
      $active-border: shade-color($primary, 20%),
      $active-color: color-contrast(shade-color($primary, 20%))
    );
  }
}

.theme--dark {
  @include darkMode;
}

.theme--default {
  @include lightMode;
}