// Scrowl Variables
@import './bs';

$primarys: (
  'primary-100': tint-color($primary, 80%),
  'primary-200': tint-color($primary, 60%),
  'primary-300': tint-color($primary, 40%),
  'primary-400': tint-color($primary, 20%),
  'primary-500': $primary,
  'primary-600': shade-color($primary, 20%),
  'primary-700': shade-color($primary, 40%),
  'primary-800': shade-color($primary, 60%),
  'primary-900': shade-color($primary, 80%),
);
$secondarys: (
  'secondary-100': tint-color($secondary, 80%),
  'secondary-200': tint-color($secondary, 60%),
  'secondary-300': tint-color($secondary, 40%),
  'secondary-400': tint-color($secondary, 20%),
  'secondary-500': $secondary,
  'secondary-600': shade-color($secondary, 20%),
  'secondary-700': shade-color($secondary, 40%),
  'secondary-800': shade-color($secondary, 60%),
  'secondary-900': shade-color($secondary, 80%),
);
$all-colors: map-merge-multiple(
  $blues,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $cyans,
  $teals,
  $primarys,
  $secondarys
);

@mixin pattern-bg(
  $type: lines,
  $size: 10px,
  $color: currentColor,
  $bg: transparent
) {
  @if $type == checks {
    background-image: repeating-linear-gradient(
      45deg,
      $color 25%,
      transparent 25%,
      transparent 75%,
      $color 75%,
      $color
    ),
      repeating-linear-gradient(
      45deg,
      $color 25%,
      transparent 25%,
      transparent 75%,
      $color 75%,
      $color
    );
    background-position: 0 0, #{$size} #{$size};
    background-size: calc(2 * #{$size}) calc(2 * #{$size});
  }

  @if $type == grid {
    background-image: linear-gradient($color 1px, transparent 1px),
      linear-gradient(90deg, $color 1px, transparent 1px);
    background-size: #{$size} #{$size};
  }

  @if $type == dots {
    background-image: radial-gradient($color #{$size}, transparent #{$size});
    background-size: calc(10 * #{$size}) calc(10 * #{$size});
  }

  @if $type == dots--cross {
    background-image: radial-gradient($color #{$size}, transparent #{$size}),
      radial-gradient($color #{$size}, transparent #{$size});
    background-size: calc(20 * #{$size}) calc(20 * #{$size});
    background-position: 0 0, calc(10 * #{$size}) calc(10 * #{$size});
  }

  @if $type == lines {
    background-image: repeating-linear-gradient(
      135deg,
      $color 0,
      $color 1px,
      transparent 0,
      transparent 50%
    );
    background-size: #{$size} #{$size};
  }

  @if $type == lines--h {
    background-image: repeating-linear-gradient(
      0deg,
      $color,
      $color 1px,
      transparent 1px,
      transparent
    );
    background-size: #{$size} #{$size};
  }

  @if $type == lines--v {
    background-image: repeating-linear-gradient(
      to right,
      $color,
      $color 1px,
      transparent 1px,
      transparent
    );
    background-size: #{$size} #{$size};
  }

  @if $type == stripes {
    background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent #{$size},
      $color #{$size},
      $color calc(2 * #{$size})
    );
  }

  @if $type == stripes--h {
    background-image: linear-gradient(0deg, transparent 50%, $color 50%);
    background-size: #{$size} #{$size};
  }

  @if $type == stripes--v {
    background-image: linear-gradient(90deg, transparent 50%, $color 50%);
    background-size: #{$size} #{$size};
  }

  @if $type == zigzag {
    background: linear-gradient(135deg, $color 25%, transparent 25%) -#{$size} 0,
      linear-gradient(225deg, $color 25%, transparent 25%) -#{$size} 0,
      linear-gradient(315deg, $color 25%, transparent 25%),
      linear-gradient(45deg, $color 25%, transparent 25%);
    background-size: calc(2 * #{$size}) calc(2 * #{$size});
  }

  @if $type == triangles {
    background-image: linear-gradient(45deg, $color 50%, transparent 50%);
    background-size: #{$size} #{$size};
  }
  background-color: $bg;
}

@mixin owlLabelStyle {
  font-weight: var(--owl-label-weight);
  letter-spacing: var(--owl-label-letterspacing);
  text-transform: var(--owl-label-texttransform);
  color: var(--owl-label-color);
}

@mixin lightMode {
  --bs-body-bg: var(--bs-gray-100);
  --bs-body-color: var(--bs-gray-900);
  --bs-border-color: var(--bs-gray-500);
  --bs-link-color: #{$link-color};
  --bs-link-hover-color: #{$link-hover-color};

  // Global
  --owl-box-shadow: 0.25rem 0.25rem 0 0 rgb(0 0 0 / 12.5%);
  --owl-box-shadow-active: 0.5rem 0.5rem 0 0 rgb(0 0 0 / 6.25%);
  --owl-box-shadow: 0.25rem 0.25rem 0 0 rgba(0, 0, 0, 0.125);
  --owl-box-shadow-active: 0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.0625);

  --owl-close-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");

  --owl-input-color: var(--bs-body-color);
  --owl-input-bg: var(--bs-body-bg);
  --owl-input-placeholder-color: var(--bs-gray-600);
  --owl-input-border-color: var(--bs-gray-400);

  --owl-table-info-color: var(--bs-gray-900);
  --owl-table-info-bg: var(--bs-cyan-100);
  --owl-table-info-border-color: var(--bs-border-color);

  --owl-accordion-btn-color: var(--bs-gray-900);
  --owl-accordion-btn-bg: var(--bs-white);
  --owl-accordion-btn-active-color: var(--bs-black);
  --owl-accordion-btn-active-bg: var(--bs-gray-200);

  --owl-border-color: var(--bs-gray-500);
  --owl-border-width: var(--bs-border-width);

  --owl-dropdown-color: var(--bs-gray-800);
  --owl-dropdown-bg: var(--bs-white);
  --owl-dropdown-link-color: var(--bs-gray-800);
  --owl-dropdown-link-hover-color: var(--bs-black);
  --owl-dropdown-link-hover-bg: var(--bs-gray-200);
  --owl-dropdown-link-disabled-color: var(--bs-gray-500);

  --owl-label-color: var(--bs-gray-600);

  --owl-tooltip-color: var(--bs-white);
  --owl-tooltip-bg: var(--bs-gray-800);

  --owl-nav-tab-color: var(--bs-gray-600);
  --owl-nav-tab-active-color: var(--bs-gray-700);
  --owl-transparent-hover-bg: rgba(0, 0, 0, 0.15);

  // Navbar
  --owl-navbar-bg: var(--bs-white);
  --owl-navbar-color: #{$navbar-light-color};
  --owl-navbar-box-shadow: 0 1px 0 0 rgb(0 0 0 / 12.5%);
  --owl-navbar-hover-color: #{$navbar-light-hover-color};
  --owl-navbar-disabled-color: #{$navbar-light-disabled-color};
  --owl-navbar-active-color: #{$navbar-light-active-color};
  --owl-navbar-link-color: var(--bs-gray-900);
  --owl-navbar-link-hover-color: var(--bs-gray-600);

  // Footer
  --owl-footer-bg: var(--bs-gray-900);
  --owl-footer-color: var(--bs-white);
  --owl-footer-label-color: var(--bs-gray-500);
  --owl-footer-hover-bg: var(--bs-gray-700);
  --owl-footer-hover-color: var(--bs-white);

  // Sidebar
  --owl-sidebar-bg: var(--bs-white);
  --owl-sidebar-color: var(--bs-gray-700);
  --owl-sidebar-hover-bg: var(--bs-gray-200);
  --owl-sidebar-hover-color: var(--bs-black);
  --owl-sidebar-header-bg: var(--bs-gray-200);
  --owl-sidebar-header-color: var(--bs-black);

  // Chatbox
  --owl-chatbox-bg: var(--bs-gray-100);
  --owl-chatbox-bg-hover: var(--bs-gray-200);

  // Workspace
  --owl-workspace-bg: var(--bs-gray-200);
  --owl-workspace-bg-accent: rgba(0, 0, 0, 0.05);
  --owl-workspace-color: var(--bs-body-color);

  // Start
  --owl-start-bg: var(--bs-gray-100);
  --owl-start-bg-accent: rgba(0, 0, 0, 0.05);
  --owl-start-color: var(--bs-body-color);

  // Template Browser
  --owl-template-browser-bg: var(--bs-gray-200);
  --owl-template-browser-bg-accent: var(--bs-gray-100);
  --owl-template-browser-item-bg: var(--bs-body-bg);
  --owl-template-browser-active-bg: var(--bs-body-bg);
  --owl-template-browser-active-border-color: var(--bs-primary);
  --owl-template-browser-active-color: inherit;

  // Color Palette
  --owl-color-default: var(--bs-gray-600);
  --owl-color-module: var(--bs-purple);
  --owl-color-lesson: var(--bs-orange);
  --owl-color-slide: var(--bs-yellow);
  --owl-color-template: var(--bs-gray-500);
  --owl-color-quiz: var(--bs-gray-500);

  --owl-selection-bg: var(--bs-yellow-100);
  --owl-selection-color: var(--bs-yellow-800);
  --owl-active-bg: var(--bs-primary);
  --owl-active-color: var(--bs-white);

  .btn-ghost-primary {
    @include button-outline-variant(
      $gray-700,
      $color-hover: color-contrast(shade-color($primary, 20%)),
      $active-background: shade-color($primary, 20%),
      $active-border: shade-color($primary, 20%),
      $active-color: color-contrast(shade-color($primary, 20%))
    );

    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

    &:first-child {
      &:hover,
      &:focus {
        & + .dropdown-toggle-split {
          color: color-contrast(shade-color($primary, 20%));
          border-color: shade-color($primary, 20%);
          background: shade-color($primary, 20%);
        }
      }

      &:active {
        box-shadow: none;

        & + .dropdown-toggle-split {
          box-shadow: none;
        }
      }
    }

    &.dropdown-toggle-split:active {
      box-shadow: none;
    }
  }

  .accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  }
}

@mixin darkMode {
  --bs-body-bg: var(--bs-gray-700);
  --bs-body-color: var(--bs-white);
  --bs-border-color: var(--bs-gray-700);
  --bs-link-color: var(--bs-primary-400);
  --bs-link-hover-color: var(--bs-primary-300);

  // Global
  --owl-box-shadow: 0.25rem 0.25rem 0 0 rgb(0 0 0 / 25%);
  --owl-box-shadow-active: 0.5rem 0.5rem 0 0 rgb(0 0 0 / 15%);
  --owl-box-shadow: 0.25rem 0.25rem 0 0 rgba(0, 0, 0, 0.25);
  --owl-box-shadow-active: 0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.15);

  --owl-close-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");

  --owl-input-bg: var(--bs-gray-700);
  --owl-input-placeholder-color: var(--bs-gray-400);
  --owl-input-border-color: var(--bs-black);

  --owl-table-info-color: var(--bs-cyan-100);
  --owl-table-info-bg: var(--bs-cyan-800);
  --owl-table-info-border-color: var(--bs-cyan-900);

  --owl-accordion-btn-color: var(--bs-gray-100);
  --owl-accordion-btn-bg: var(--bs-gray-900);
  --owl-accordion-btn-active-color: var(--bs-white);
  --owl-accordion-btn-active-bg: var(--bs-black);

  --owl-border-color: var(--bs-black);

  --owl-dropdown-color: var(--bs-gray-200);
  --owl-dropdown-bg: var(--bs-gray-900);
  --owl-dropdown-link-color: var(--bs-white);
  --owl-dropdown-link-hover-color: var(--bs-white);
  --owl-dropdown-link-hover-bg: var(--bs-gray-800);
  --owl-dropdown-link-disabled-color: var(--bs-gray-600);

  --owl-label-color: var(--bs-gray-500);

  --owl-tooltip-color: var(--bs-gray-700);
  --owl-tooltip-bg: var(--bs-white);

  --owl-nav-tab-color: var(--bs-gray-500);
  --owl-nav-tab-active-color: var(--bs-gray-100);
  --owl-transparent-hover-bg: rgba(255, 255, 255, 0.15);

  // Navbar
  --owl-navbar-bg: var(--bs-gray-900);
  --owl-navbar-color: var(--bs-white);
  --owl-navbar-box-shadow: 0 1px 0 0 var(--bs-gray-800);
  --owl-navbar-link-color: var(--bs-gray-200);
  --owl-navbar-link-hover-color: var(--bs-gray-500);
  // --owl-navbar-hover-color: #{$navbar-light-hover-color};
  // --owl-navbar-disabled-color: #{$navbar-light-disabled-color};
  // --owl-navbar-active-color: #{$navbar-light-active-color};

  // Footer
  --owl-footer-bg: var(--bs-gray-700);
  --owl-footer-color: var(--bs-gray-100);
  --owl-footer-label-color: var(--bs-gray-400);
  --owl-footer-hover-bg: var(--bs-gray-800);
  --owl-footer-hover-color: var(--bs-white);

  // Sidebar
  --owl-sidebar-bg: var(--bs-gray-900);
  --owl-sidebar-color: var(--bs-gray-200);
  --owl-sidebar-hover-bg: var(--bs-gray-800);
  --owl-sidebar-hover-color: var(--bs-white);
  --owl-sidebar-header-bg: var(--bs-gray-800);
  --owl-sidebar-header-color: var(--bs-gray-500);

  --owl-chatbox-bg: var(--bs-gray-700);
  --owl-chatbox-bg-hover: var(--bs-gray-600);

  // Workspace
  --owl-workspace-bg: var(--bs-gray-800);
  --owl-workspace-bg-accent: rgba(255, 255, 255, 0.08);
  --owl-workspace-color: var(--bs-body-color);

  // Start
  --owl-start-bg: var(--bs-gray-800);
  --owl-start-bg-accent: rgba(255, 255, 255, 0.08);
  --owl-start-color: var(--bs-body-color);

  // Template Browser
  --owl-template-browser-bg: var(--bs-gray-800);
  --owl-template-browser-bg-accent: var(--bs-gray-900);
  --owl-template-browser-item-bg: var(--bs-body-bg);
  --owl-template-browser-active-bg: var(--bs-body-bg);
  --owl-template-browser-active-border-color: var(--bs-primary);
  --owl-template-browser-active-color: inherit;

  // Color Palette
  --owl-color-default: var(--bs-gray-400);
  --owl-color-module: var(--bs-purple-300);
  // --owl-color-lesson: var(--bs-orange);
  // --owl-color-slide: var(--bs-yellow);
  --owl-color-template: var(--bs-gray-500);
  --owl-color-quiz: var(--bs-gray-500);

  --owl-selection-bg: var(--bs-yellow-800);
  --owl-selection-color: var(--bs-yellow-100);
  --owl-active-bg: var(--bs-primary-600);
  --owl-active-color: var(--bs-white);

  .btn-ghost-primary {
    @include button-outline-variant(
      $gray-300,
      $color-hover: color-contrast(shade-color($primary, 20%)),
      $active-background: shade-color($primary, 20%),
      $active-border: shade-color($primary, 20%),
      $active-color: color-contrast(shade-color($primary, 20%))
    );
  }

  .accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
}

:root {
  @each $key, $value in $all-colors {
    --#{$variable-prefix}#{$key}: #{$value};
  }

  --owl-btn-border-radius: #{$btn-border-radius};
  --owl-heading-letterspacing: -0.025em;
  --owl-heading-lineheight: 1.1;
  --owl-font-size-sm: 0.75rem;
  --owl-font-size-xs: 0.688rem;
  --owl-cubic-bezier: cubic-bezier(0, 1, 0.5, 1);
  --owl-btn-letterspacing: 0.0125em;
  --owl-grabhandle-width: 1px;
  --owl-grabhandle-hover-width: 5px;
  --owl-label-letterspacing: 0.025em;
  --owl-label-weight: 700;
  --owl-label-texttransform: uppercase;
  --owl-navbar-height: 3.125rem;
  --owl-sidebar-width: 19rem;
  --owl-sidebar-minwidth: 16rem;
  --owl-sidebar-spacing: 1rem;
  --owl-workspace-spacing: 1.5rem;

  --owl-start-spacing: 1.5rem;

  --owl-footer-height: 2rem;

  @include lightMode;

  &.dark {
    @include darkMode;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkMode;

    &.light {
      @include lightMode;
    }
  }
}