.container {
  text-align: center;
  padding: 8rem 0 2rem;
  background-color: #005090;
  position: relative;

  & h1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 4rem 0;
  }
}
// #0083c3
.btn-download.owlui-button {
  bottom: -3.5rem;
  position: relative;

  & a {
    text-decoration: none;
  }
}

.mac-icon {
  width: 1.2rem;
  margin-right: 0.25rem;
}
