.nav {
  &__title {
    font-size: 1.8rem;
    padding-left: 0.25rem;

    &__icon {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 1px;
    background-color: var(--bs-border-color);
  }
}

.owlui-icons-outlined {
  color: var(--bs-primary) !important;
  margin-right: 0.5rem;
}

svg {
  margin: 0.25rem 1rem 0 0;
}

.main {
  height: 100%;
  padding: 1rem;
  background-color: var(--bs-gray-200);
  overflow-x: hidden;
  overflow-y: auto;
}

.section-title-wrap {
  display: flex;
  margin-bottom: 1.5rem;
}

.section-title {
  font-weight: bold;
  color: var(--bs-gray-800);
  margin-bottom: 1rem;
}

.section-link {
  color: var(--bs-primary);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  border: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.section-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.files-list {
  table {
    font-size: 0.7rem;
  }

  thead {
    background-color: var(--bs-border-color);
  }
}
