.nav {
  &__title {
    font-size: 1.8rem;
    padding-left: 0.25rem;

    &__icon {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 1px;
    background-color: var(--bs-border-color);
  }
}

.main {
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: var(--bs-gray-200);
  overflow-x: hidden;
  overflow-y: auto;
}

.side-panel {
  background-color: #ffffff;
}

.side-panel button {
  font-size: 0.6em;
}

.side-panel label {
  display: none;
}

.side-panel .resources li {
  font-size: 0.6em;
  padding: 1em;
}

.side-panel .owlui-accordion-body li {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}

.side-panel .owlui-accordion-body li span {
  margin-right: 0.25em;
}

.side-panel .glossary-dropdown {
  visibility: hidden;
}

.side-panel .dropdown-visible {
  visibility: visible;
}

// .owlui-tab-content {
//   position: relative;
// }

.panel-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid darkgray;
  position: absolute;
  bottom: 0;
  width: 30%;
  background-color: white;
}

#add-resource-button {
  background-color: white;
  color: black;
  padding: 1em;
  font-size: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 50px;
  border: 1px solid darkgray;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

#add-glossary-button {
  background-color: white;
  color: black;
  padding: 1em;
  font-size: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 50px;
  border: 1px solid darkgray;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.section-title {
  font-weight: bold;
  color: var(--bs-primary);
  margin-bottom: 1rem;
}

.files-list {
  table {
    font-size: 0.7rem;
  }

  thead {
    background-color: var(--bs-border-color);
  }
}
