.nav {
  &__title {
    font-size: 1.8rem;
    padding-left: 0.25rem;

    &__icon {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 1px;
    background-color: var(--bs-border-color);
  }
}

.main {
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: var(--bs-gray-200);
  overflow-x: hidden;
  overflow-y: auto;
}

.side-panel {
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  min-width: 30%;
  max-width: 100vw;
  resize: horizontal;
  overflow: auto;
  border: 1px solid darkgrey;
}

.side-panel button {
  font-size: 0.6em;
}

// **** Outline Tab ****

.side-panel .owlui-accordion-button {
  padding-left: 0;
  border: 0 !important;
}

.side-panel .owlui-accordion-body {
  padding: 0;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.side-panel .owlui-accordion-button::after {
  display: none;
}

.side-panel .owlui-accordion-button:not(.collapsed) {
  background-color: white !important;
  color: black !important;
  outline: 0 !important;
  border: 0 !important;
}

.side-panel .owlui-accordion-button .dropdown-arrow {
  transform: rotate(-90deg);
  transition: transform 0.15s linear;
}

.side-panel .owlui-accordion-button:not(.collapsed) .dropdown-arrow {
  transform: rotate(0);
}

.side-panel .owlui-accordion-button:not(.collapsed) .folder {
  color: #9624fe;
}

.side-panel .owlui-accordion-button:not(.collapsed) .interests {
  color: #e66f00;
}

.side-panel .owlui-accordion-item {
  border: 0;
}

.side-panel .owlui-accordion-button:hover {
  background-color: lightgray !important;
}

.side-panel .owlui-accordion-button:hover p {
  text-decoration: underline;
}

.side-panel .owlui-accordion-button:focus {
  box-shadow: none !important;
}

.side-panel .outline-item-header {
  align-items: center;
}

.side-panel .outline-item-header p {
  margin: 0;
  margin-left: 0.5em;
}

.owlui-list-group-item-action {
  font-size: 0.6em;
}

.owlui-list-group-item.active {
  z-index: 2;
  color: black !important;
  background-color: #ede5a6 !important;
  border: 0;
}

.side-panel .outline-slides {
  border-left: 2px solid #e66f00;
  border-radius: 0;
}

.side-panel .owlui-accordion-body ul {
  padding-left: 0;
}

.owlui-list-group-item-action:hover {
  background-color: lightgrey !important;
}

.owlui-list-group-item-action:hover p {
  text-decoration: underline;
}

.owlui-list-group-item-action:focus {
  z-index: 1;
  background-color: #ede5a6 !important;
  text-decoration: none;
  color: black;
}

.owlui-list-group-item-action:focus span {
  color: #ffba00;
}

.owlui-list-group-item-action:focus p {
  color: black;
}

.side-panel .owlui-accordion-body li {
  font-size: 0.6em;
  display: flex;
  align-items: center;
  height: 3em;
  padding-left: 2em;
}

.side-panel .owlui-accordion-body li p {
  margin-bottom: 0;
}

.side-panel .owlui-accordion-body li:hover {
  background-color: lightgray !important;
}

.side-panel .owlui-accordion-body li span {
  margin-right: 0.25em;
}

// **** Resources Tab ****

.side-panel .owlui-list-group-item {
  border-radius: 0 !important;
  border: 0;
}

.side-panel .resources p {
  font-size: 0.4em;
  padding-top: 1em;
}

.side-panel .resource-header {
  font-size: 0.5em;
  font-weight: 600;
  align-items: center;
}

.side-panel .resource-header .resource-header-link {
  margin-left: 0.5em;
}

.side-panel .resource-header a {
  text-decoration: none;
  color: black;
}

// **** Glossary Tab ****

.side-panel .glossary-dropdown {
  border-radius: 50px;

  // visibility: hidden;
}

.side-panel .glossary-card {
  border-radius: 0 !important;
  border: 0 !important;
}

.side-panel .glossary-card-header {
  font-size: 0.6em;
  background-color: #e9ecef;
  border: 0;
  border-radius: 0;
}

.side-panel .glossary-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.side-panel .glossary-card-body {
  font-size: 0.4em;
}

.side-panel .owlui-dropdown-toggle {
  border-radius: 50px !important;
  padding: 0.2em !important;
}

.side-panel .owlui-dropdown-toggle::after {
  display: none !important;
}

.side-panel .owlui-tab-content {
  position: relative;
}

.side-panel .dropdown-visible {
  visibility: visible;
}

.side-panel .card-header,
.side-panel .card-title {
  font-weight: 600;
}

.side-panel .panel-footer {
  margin-bottom: -3em;
  display: flex;
  justify-content: center;
  border-top: 1px solid darkgray;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.side-panel #add-resource-button {
  background-color: white;
  color: black;
  padding: 1em;
  font-size: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 50px;
  border: 1px solid darkgray;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.side-panel #add-glossary-button {
  background-color: white;
  color: black;
  padding: 1em;
  font-size: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 50px;
  border: 1px solid darkgray;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

// .side-panel .more-actions-button::after {
//   display: none;
// }

.section-title {
  font-weight: bold;
  color: var(--bs-primary);
  margin-bottom: 1rem;
}

.files-list {
  table {
    font-size: 0.7rem;
  }

  thead {
    background-color: var(--bs-border-color);
  }
}
