.app {
  height: 100vh;
  max-height: 100%;
  display: flex;
  overflow: hidden;
}

.app-main {
  max-height: 100vh;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}

.slide {
  color: var(--bs-body-color);
  border: var(--owl-border-width) solid var(--owl-border-color);
  background: var(--bs-body-bg);
  box-shadow: var(--owl-box-shadow);
  max-height: 110vmin;
  max-width: 110vmin;
  margin: 0 1.5rem 1.5rem;
}

.slide:not(.aspect-ratio) {
  max-height: calc(100% - 1.5rem);
  max-width: 100%;
  transform: scale(1);
}

.slide.aspect-ratio--4x3, .slide.aspect-ratio--4x3 iframe {
  aspect-ratio: 4 / 3;
}

.slide.aspect-ratio--16x9, .slide.aspect-ratio--16x9 iframe {
  aspect-ratio: 16 / 9;
}

.slide.aspect-ratio--16x10, .slide.aspect-ratio--16x10 iframe {
  aspect-ratio: 16 / 10;
}

.nav {
  z-index: 10;
  margin-top: calc(var(--owl-sidebar-spacing) / 2);
}

.tree-view__header {
  padding-right: calc(var(--owl-sidebar-spacing) / 2);
  color: var(--owl-sidebar-color);
  flex-wrap: nowrap;
  padding-bottom: .25em;
  display: flex;
}

.tree-view__header:hover .owlui-dropdown-toggle, .tree-view__header:focus .owlui-dropdown-toggle {
  opacity: 1;
}

.tree-view__header .owlui-dropdown-toggle {
  top: .3em;
}

.tree-view__header:hover {
  background-color: var(--owl-sidebar-hover-bg);
}

.tree-view__item {
  color: inherit;
  line-height: 1.4;
  font-size: var(--owl-font-size-sm);
  text-align: left;
  flex-grow: 1;
  margin: 0;
  padding: 3px 8px 7.92px 21px;
  text-decoration: none;
  display: flex;
}

.tree-view__item .module-icons, .tree-view__item .lesson-icons {
  display: flex;
}

.tree-view__item:focus {
  color: currentColor;
  text-decoration: none;
}

.tree-view__item:focus-visible {
  border: 1px solid var(--bs-link-color);
}

.tree-view__item[aria-expanded="true"] .tree-view__item__icon--handle {
  transform: rotate(360deg);
}

.tree-view__item[aria-expanded="true"] .module-icons > span > span {
  color: var(--owl-color-module);
}

.tree-view__item[aria-expanded="true"] .lesson-icons > span > span {
  color: var(--owl-color-lesson);
}

.tree-view__item__icon {
  color: var(--owl-color-default);
}

.tree-view__item__icon--handle {
  width: auto;
  height: auto;
  color: var(--bs-gray-600);
  align-self: baseline;
  margin: 4px 0 0;
  font-size: 24px;
  transition: transform .1s linear;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(270deg);
}

.tree-view__item__icon--detail {
  margin-right: .5em;
  font-size: .9rem;
  line-height: 1rem;
  position: relative;
  top: .2rem;
}

.tree-view__item:hover {
  color: currentColor;
  text-decoration: underline;
}

.tree-view__item__label {
  color: inherit;
  line-height: 1rem;
  font-size: var(--owl-font-size-sm);
  position: relative;
  top: .25rem;
}

.tree-view--module, .tree-view--lesson {
  line-height: 1.25;
  position: relative;
}

.tree-view--module .nav, .tree-view--lesson .nav {
  flex-wrap: nowrap;
  margin: 0 0 .25rem .75rem;
}

.tree-view--module .nav {
  box-shadow: -2px 0 0 0 var(--owl-color-module);
}

.tree-view--lesson .nav {
  box-shadow: -2px 0 0 0 var(--owl-color-lesson);
}

.tab-glossary {
  margin-top: calc(var(--owl-sidebar-spacing) / 2);
  max-height: calc(100% - 66px);
  font-size: .875rem;
  overflow-y: auto;
}

.tab-glossary__list {
  border: 0;
  padding-top: 0;
  padding-bottom: 5rem;
}

.tab-glossary__list header {
  z-index: 1;
  color: var(--owl-sidebar-header-color);
  font-weight: 700;
  line-height: var(--osg-line-height-sm);
  letter-spacing: .025em;
  text-transform: uppercase;
  background: #e9ecef;
  position: sticky;
  top: -1px;
}

.tab-glossary__header {
  background-color: var(--owl-sidebar-header-bg);
  color: var(--owl-sidebar-header-color);
  padding: .25rem .75rem;
  font-size: .75rem;
  font-weight: 700;
}

.tab-glossary__term {
  padding: calc(var(--owl-sidebar-spacing) / 2);
  color: var(--bs-body-color);
  padding: .75rem;
  font-size: .75rem;
  line-height: 1.4;
  position: relative;
}

.tab-glossary__term--word {
  color: inherit;
  text-transform: none;
  letter-spacing: 0;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.4;
  display: inline-block;
}

.tab-glossary__term--definition {
  word-wrap: break-word;
  margin-top: .25em;
  line-height: 1.4;
  display: block;
}

.tab-glossary__term:hover {
  cursor: pointer;
}

.tab-glossary__term:hover .owlui-dropdown-toggle {
  opacity: 1;
}

.tab-glossary__term:hover .tab_glossary__term--word {
  text-decoration: underline;
}

.tab-glossary__owl-offcanvas-form {
  min-height: 100%;
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  transition: transform .15s ease-in-out;
  display: grid;
}

.tab-glossary__owl-offcanvas-form .owlui-offcanvas-header {
  border-bottom: var(--owl-border-color) solid var(--owl-border-width);
}

.tab-glossary__owl-offcanvas-form .owlui-offcanvas-header div, .tab-glossary__owl-offcanvas-form .owlui-offcanvas-header h4 {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.tab-glossary__owl-offcanvas-form .owlui-offcanvas-header h4 {
  font-weight: 600;
}

.tab-glossary__owl-offcanvas-form .owlui-offcanvas-header .btn-close {
  width: .5em;
  height: .5em;
}

.tab-glossary__owl-offcanvas-form label {
  font-weight: var(--owl-label-weight);
  letter-spacing: var(--owl-label-letterspacing);
  text-transform: var(--owl-label-texttransform);
  color: var(--owl-label-color);
  font-size: var(--owl-font-size-sm);
}

.tab-glossary__owl-offcanvas-form .description {
  height: 65%;
  flex-direction: column;
  display: flex;
}

.tab-glossary__owl-offcanvas-form input {
  color: var(--owl-input-color);
  background-color: var(--owl-input-bg);
}

.tab-glossary__owl-offcanvas-form .glossary-form-button-set button {
  border-radius: .25em;
}

.tab-glossary__owl-offcanvas-form .glossary-submit-button {
  margin: 0;
}

.pane--left {
  min-width: 16rem;
  width: 19rem;
  color: var(--owl-sidebar-color);
  border-right: var(--owl-border-width) var(--owl-border-color) solid;
  background: var(--owl-sidebar-bg);
  flex-flow: column;
  flex-shrink: 0;
  display: flex;
  position: relative;
  overflow: scroll;
}

.pane--left__header {
  flex: 0 auto;
  margin-top: .5rem;
}

.pane--left__content {
  flex: auto;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.pane--right {
  min-width: 16rem;
  width: 19rem;
  color: var(--owl-sidebar-color);
  border-left: var(--owl-border-width) var(--owl-border-color) solid;
  background: var(--owl-sidebar-bg);
  flex-flow: column;
  flex-shrink: 0;
  display: flex;
  position: relative;
}

.pane--right__header {
  flex: 0 auto;
  margin-top: .5rem;
}

.pane--right__content {
  flex: auto;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.pane__heading {
  font-weight: var(--owl-typeface-label-weight);
  letter-spacing: var(--owl-typeface-label-letterspacing);
  text-transform: var(--owl-typeface-label-texttransform);
  color: var(--owl-typeface-label-color);
  margin: calc(var(--owl-sidebar-spacing) / 2) calc(var(--owl-sidebar-spacing) / 2) calc(var(--owl-sidebar-spacing) / 2) var(--owl-sidebar-spacing);
  -webkit-user-select: none;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  font-size: .75rem;
  line-height: 1.25;
  display: flex;
}

.pane .owlui-nav-tabs, .pane .owlui-tab-pane {
  font-size: .75rem;
}

/*# sourceMappingURL=scrowl.player.css.map */
