.title-bar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: vars(--bs-primary);
  border-bottom: 2px solid vars(--bs-border-color);

  &__title {
    user-select: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
