@import '~@owlui/theme/src/global/_variables.scss';

.title-bar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $owl-sys-color-primary;
  border-bottom: 2px solid $owl-ref-palette-primary-highlight;

  &__title {
    user-select: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
