@use '@owlui/lib/src/theme/utils' as *;

.slide {
  --bs-heading-color: var(--bs-gray-900);
  --bs-body-color: var(--bs-gray-900);
  --bs-body-bg: var(--bs-white);

  margin: 0 $owl-sys-space-workspace $owl-sys-space-workspace;
  color: var(--bs-body-color);
  border: var(--owl-border-width) solid var(--owl-border-color);
  background: var(--bs-body-bg);
  box-shadow: var(--owl-box-shadow);

  &:not(.ratio) {
    height: calc(100% - $owl-sys-space-workspace );
    width: 100%;
  }

  &.ratio-16x9 {
    max-height: 110vmin;
    max-width: 110vmin;
  }
}
