@use '@owlui/lib/src/theme/utils' as *;
@use '@owlui/lib/src/theme/global/bootstrap' as *;
@use './forms';

:global .drag {
  -webkit-app-region: drag;
}

:global .no-drag {
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden;
}

.content {
  overflow: hidden;
}

.scrowl__footer {
  height: $owl-sys-size-footer-height;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--owl-footer-color);
  background: var(--owl-footer-bg);
}

.scrowl-template-browser {
  display: flex;
  justify-content: space-evenly;

  &--item {
    border: none;
    background: none;
    box-shadow: var(--owl-box-shadow);
    padding: 0;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--owl-box-shadow-active);
      transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    }
  }
}
