
@import '@owlui/lib/src/theme/global/tokens';
@import '../../../styles/patterns';
@import './forms';

:global .drag {
  -webkit-app-region: drag;
}

:global .no-drag {
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden;
}

.title-bar {
  height: $owl-sys-size-appbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--owl-titlebar-color);
  border-bottom: var(--owl-border-width) solid var(--owl-border-color);
  background: var(--owl-titlebar-bg);
  user-select: none;

  &__title {
    font-size: $owl-ref-typeface-size-xs;
    font-weight: 500;
  }
}

.content {
  overflow: hidden;
}

.scrowl__footer {
  height: $owl-sys-size-footer-height;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--owl-footer-color);
  background: var(--owl-footer-bg);
}
