@import './reset';
@import './forms';

:global .drag {
  -webkit-app-region: drag;
}

:global .no-drag {
  -webkit-app-region: no-drag;
}

body {
  font-family: Inter, system-ui, -apple-system, Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

section {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  > div {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: auto;
  }
}

.title-bar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-dark);
  border-bottom: 2px solid var(--bs-border-color);

  &__title {
    user-select: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
