.nav {
  &__title {
    font-size: 1.8rem;
    padding-left: 0.25rem;

    &__icon {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 1px;
    background-color: vars(--bs-border-color);
  }
}

.main {
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: #dae2f4;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-title {
  font-weight: bold;
  color: vars(--bs-primary);
  margin-bottom: 1rem;
}

.files-list {
  table {
    font-size: 0.7rem;
  }

  thead {
    background-color: vars(--bs-border-color);
  }
}
