@use '~@owlui/theme/src' as theme;

.nav {
  &__title {
    font-size: 1.8rem;
    padding-left: 0.25rem;

    &__icon {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 1px;
    background-color: #d4d4d4;
  }
}

.main {
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: #dae2f4;
}
