.dropdown-preview {
  &.show {
    top: 2rem;
    right: 0;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;

    .owlui-icons {
      margin-right: 0.5rem;
    }
  }
}
