@import '@owlui/lib/src/theme/global/tokens';
@import '../../styles/patterns';

.editor {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: $owl-sys-size-navbar-height;
  bottom: $owl-sys-size-footer-height;
  left: 0;
  right: 0;
}

.workspace {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--owl-workspace-color);
  background: var(--owl-workspace-bg);
  @include pattern-bg(dots, 1px, var(--owl-workspace-bg-accent), var(--owl-workspace-bg));
  overflow-y: auto;

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}