@import '@owlui/lib/src/theme/global/bootstrap';
@import '@owlui/lib/src/theme/global/tokens';
@import '../../styles/patterns';

.main {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;

  @include pattern-bg(
    dots, 1px,
    var(--owl-start-bg-accent),
    var(--owl-start-bg)
  );
}

.settings {
  position: relative;
  width: 100%;
  max-width: 70rem;
  padding: $owl-sys-space-start;
  color: var(--owl-start-color);

  &__header {
    user-select: none;

    .logo {
      margin-right: 0.5rem;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__section {
    padding: $owl-sys-space-start 0;
  }
}
