@use '~@owlui/theme/src' as theme;

.tabs-list {
  display: flex;
}

.tabs-list-item {
  display: inline-block;

  &-active {
    button {
      background-color: theme.$owl-ref-palette-primary-highlight;
    }
  }
}

.tabs-content {
  width: 100%;
  height: 100%;
  background-color: theme.$owl-ref-palette-primary-highlight;
}

.tabs-content-item {
  text-decoration: underline;
}
