@import '../../../../../../styles/osg';

.icon-save-state {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 2.2rem;
  padding: 0.2rem;

  .save-state {
    font-size: $h2-font-size;
    line-height: normal;
    max-height: inherit;
  }
}
