@use '@owlui/lib/src/theme/utils' as *;

.scrowl__navbar {
  --bs-navbar-color: var(--owl-navbar-color);
  --bs-navbar-hover-color: var(--owl-navbar-hover-color);
  --bs-navbar-disabled-color: var(--owl-navbar-disabled-color);
  --bs-navbar-active-color:var(--owl-navbar-active-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: $owl-sys-size-navbar-height;
  background: var(--owl-navbar-bg);
  border-bottom: var(--owl-border-color) solid var(--owl-border-width);
  box-shadow: var(--owl-navbar-box-shadow);
  user-select: none;
}